{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">

    <div class="text-center mb-4">
        <h1>About FunBookStore 📚✨</h1>
        <p class="lead">A simple and fun way to collect, organize, and view your digital library.</p>
    </div>

    <div class="card p-4 shadow-sm">
        <h3>Features</h3>
        <ul>
            <li>Add books to system</li>
            <li>Buy books and add them to your libary</li>
            <li>Browse and view book details</li>
            <li>Remove books you own from your library</li>
            <li>User accounts and secure login</li>
            <li>Rate books</li>
            <li>Comment on books</li>
        </ul>

        <h3>Future Improvements</h3>
        <ul>
            <li>Book recommendations</li>
            <li>Personal reading statistics</li>
        </ul>

        <h3>Built by</h3>
        <ul>
            <li>Samantha Vazquez</li>
            <li>...</li>
        </ul>
    </div>

</div>
{% endblock %}
