{% extends "base.html" %}
{% load static %}

{% block sidenav %}
   {% for item in item_list %}
      <li>
        <a href="{{ item.link }}">  {{ item.item }} </a>
      </li>
   {% endfor %}
{% endblock sidenav %}

{% block content %}
<h2 class="mb-4">Post a New Book</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="mb-3">
        <label class="form-label">Book Name</label>
        {{ form.name }}
    </div>

    <div class="mb-3">
        <label class="form-label">Author</label>
        {{ form.author }}
    </div>

    <div class="mb-3">
        <label class="form-label">Price</label>
        {{ form.price }}
    </div>

    <div class="mb-3">
        <label class="form-label">Summary</label>
        {{ form.summary }}
    </div>

    <div class="mb-3">
        <label class="form-label">Book Cover Image</label>
        {{ form.picture }}
    </div>

    <button class="btn btn-primary" type="submit">Submit Book</button>
</form>
{% endblock content %}
