{% extends "base.html" %}
{% load static %}

{% block body_class %}auth-body{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
  <div class="auth-card">

    <div class="auth-logo">🔖</div>
    <h2>BookWise</h2>
    <h3>Create Account</h3>

    <form method="post">
      {% csrf_token %}

      {% for field in form %}
        <label>{{ field.label }}</label>
        {{ field }}
        {{ field.errors }}
      {% endfor %}

      <button type="submit" class="auth-btn">Create Account</button>
    </form>

    <p class="auth-switch">
      Already registered? <a href="/login/">Sign in</a>
    </p>
  </div>
</div>
{% endblock %}
